.App {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  height: 100px; /* Set a specific height for the header */
  width: 100%; /* Add this line to ensure the header spans the entire width */
  background-color: #f5f5f5; /* Optional: Add a background color to the header */
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.app-name {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}



